 body{
            font-family: 'Open Sans', sans-serif;
        }
 div{
            width:1200px;
            margin: auto;
        }
 h1{
    color: #58a164;
   text-transform: capitalize;
    text-align: center;
           
    }
span {
    color: #307bcb;
    font-weight: 900;

     }
   